// ==========================================================
// SI RUKEM THEME
// ==========================================================

$primary: #176b87;
$secondary: #2e8a7e;
$accent: #52b788;

$dark: #243642;
$dark-page: #18282d;

$positive: #2e8a7e;
$negative: #c94c4c;
$info: #3a86b8;
$warning: #e9a23b;
